.row-1{
    height: 50vh;
}

.chart{
    height: 38vh;
}
.donut{
    height: 110px;   
}
.item{
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;    
}
@media only screen and (max-width: 768px){
    .row-1{
        height: auto !important;
    }
    .chart{
        height: auto;
    }
}

